<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>To-Do-List</title>
</head>
<body style="background: linear-gradient(135deg, #ede9e9, #f5ebe0, #d6ccc2, #e3d5ca, #d5bdaf); height: 100vh;">
    <header class="text-center text-lg font-semibold text-gray-800">
        <h1 class="text-4xl font-semibold text-gray-800 tracking-tight">Welcome to your very own To-Do-List web application</h1>
    </header>
    </header>
    {% block body %}
    
    {% endblock%}
</body>
</html>