{% extends 'base.html' %}

{% block body%}
<div class="container">
    <h1>Welcome, {{username}}</h1>
    <p> Welcome to your dashboard</p>
    <a href="{{url_for('logout')}}" class="btn btn-logout">logout</a>
</div>

<div class="days-of-week">
    <a href="{{url_for('days')}}">
        <button class="btn btn-days">Monday</button>
    </a>   
    <a href="">
        <button class="btn btn-days">Tuesday</button>
    </a>
    <a href="">
        <button class="btn btn-days">Wednesday</button>
    </a>    
    <a href="">
        <button class="btn btn-days">Thursday</button>
    </a>
    <a href="">
        <button class="btn btn-days">Friday</button>
    </a>
    <a href="">
        <button class="btn btn-days">Saturday</button>
    </a>
    <a href="">
        <button class="btn btn-days">Sunday</button> 
    </a>
</div


{% endblock %}





