{% extends 'base.html' %} {% block body %}
<div class="container-fluid vh-100 d-flex flex-column">
  <div class="row">
    <div class="col-12 text-left">
      <!-- <h1 class="display-5 ms-3 mt-3">To-Do List</h1> -->
    </div>
  </div>
  <div class="row justify-content-center align-items-center flex-grow-1">
    <div class="col-12 text-center mb-4">
      <h1 class="display-5">Welcome, {{ username }}</h1>
      <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>

    <!-- Added spacing above the task input area -->
    <div class="col-12 text-center mt-5">
      <div class="bg-js">
        <div id="myDIV" class="header mb-3">
          <input
            type="text"
            id="myInput"
            placeholder="Title..."
            class="form-control"
          />
          <span onclick="newElement()" class="addBtn btn btn-primary mt-2"
            >Add</span
          >
        </div>
        <ul id="myUL">
          <li class="checked">Test</li>
        </ul>
      </div>
    </div>
  </div>
  <script src="/static/JS/addTask.js"></script>
</div>
{% endblock %}
