<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <title>Weekdays</title>
  </head>
  <body
    style="
      background: linear-gradient(
        135deg,
        #ede9e9,
        #f5ebe0,
        #d6ccc2,
        #e3d5ca,
        #d5bdaf
      );
      height: 100vh;
    
  >
    <div class="flex flex-col items-center justify-center h-full">
      <header class="bg-sky-500/70 w-full text-center p-6 rounded-lg shadow-lg">
        <h1 class="text-4xl font-semibold text-white mb-2">MONDAY</h1>
        <p class="text-lg text-white">Welcome to your Monday task schedule</p>
      </header>

      <a href="{{ url_for('dashboard') }}" class="mt-6">
        <button
          class="bg-blue-500 text-white py-2 px-6 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300"
        >
          Go Back
        </button>
      </a>
    </div>
  </body>
</html>
