<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Weekdays</title>
</head>
<body style="background: linear-gradient(135deg, #ede9e9, #f5ebe0, #d6ccc2, #e3d5ca, #d5bdaf); height: 100vh;>
<div class="bg-white w-full">
    <header class="bg-sky-500/70">
        <h1 class="text-2xl"> MONDAY</h1>
            <p class="text-xl">
                Welcome to your Monday task schedule
            </p>
    </header>
    <a href="{{url_for('dashboard')}}">
        <button>
            Go Back
        </button>
    </a>
</div>
</body>
</html>